@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: #F2F3F5;
} 

.image-container {
    /* Apply the grayscale filter */
    filter: grayscale(100%);
    /* For older browser support */
    -webkit-filter: grayscale(100%);
};

.container {
  /* Set the initial state of the container */
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.container.show {
  /* Set the final state of the container when scrolled into view */
  opacity: 1;
  transform: translateY(0);
}
